h1{
    color: black;
}
.btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff; /* Set the default background color for the button */
    color: #fff;
    border: none;
    cursor: pointer;
  }